@import "tailwindcss";

@theme {
  --color-caibang: #6d5241;
  --color-camyve: #dd4933;
  --color-conluan: #335c95;
  --color-cuclaccoc: #523e6b;
  --color-duongmon: #87f754;
  --color-minhgiao: #777c89;
  --color-ngami: #dc54ab;
  --color-quantuduong: #000000;
  --color-thienson: #000000;
  --color-thieulam: #fac74a;
  --color-vodang: #515aa1;
  --color-border: theme(colors.gray.300);
  --color-attention: #ff5252;
  --color-attention2: #ffb300;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
#root {
  width: 100%;
  height: 100%;
}
